<h2> <%= @restaurant.name %></h2>
<p><%= @restaurant.category %></p>

<h3>Contact Information</h3>
<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>

<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
<ul>
  <li>
    <%= review.content %>
    (<%= review.rating %> stars)
  </li>
</ul>
<% end %>

<%= link_to "Back", restaurants_path %>

<%= link_to "Write a Review!", new_restaurant_review_path(@restaurant)  %>
